.clockBtn {
  width: fit-content;
  border: none;
  display: flex;
  position: relative;
  background-color: var(--ele-2);
  border-radius: 80px;
}

.clockFace {
  max-height: 80px;
  height: 3vw;
  min-height: 40px;
  max-width: 80px;
  width: 3vw;
  min-width: 40px;
  border-radius: 80px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--ele-2);
}

.clockFace > div {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
}

.centerDot {
  height: 5px !important;
  width: 5px !important;
  background: var(--border-gradient);
  border-radius: 50%;
  box-shadow: 0px 0px 3px black;
}

.face {
  width: 110% !important;
  height: 110% !important;
}

.face svg {
  height: 100%;
  width: 100%;
}

.hour::before {
  content: "";
  height: 30%;
  width: 1.5px;
  background-color: white;
  position: absolute;
  top: 20%;
  border-radius: 2px;
  border: 1px solid rgba(164, 164, 164, 0.8);
  box-shadow: 0px 0px 3px black;
}
.minute::before {
  content: "";
  height: 44%;
  width: 1px;
  background-color: rgb(242, 242, 242);
  position: absolute;
  top: 6%;
  border-radius: 2px;
  border: 1px solid rgba(86, 86, 86, 0.8);
  box-shadow: 0px 0px 3px black;
}

.analog {
  max-height: 80px;
  height: 3vw;
  min-height: 40px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  justify-content: center;
}

.analog div {
  position: relative;
  width: 6px;
  height: 100%;
}

.analog div::before {
  content: "";
  background: var(--border-gradient);
  height: 6px;
  width: 6px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-120%);
}
.analog div::after {
  content: "";
  background: var(--border-gradient);
  height: 6px;
  width: 6px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(40%);
}
.clockBtn p {
  font-weight: bold;
  font-size: 24px;
}
