.createProjectWrapper {
	h3 {
		margin-bottom: 8px;
	}
	color: var(--font-color-light);
}

.technologiesUsed {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 16px;
	div {
		padding: 2px 4px;
		border-radius: 2px;
	}

	.selectedTech {
		outline: 1px solid var(--font-color-dim);
	}
	input {
		position: absolute;
		opacity: 0;
	}
}

.radioWrapper {
	display: flex;
	gap: 16px;
	margin-bottom: 16px;
}
