.background {
  background-color: var(--ele-1);
  min-height: 5700px;
  position: relative;
  object-fit: scale-down;
  background-image: url("./images/bg-main.svg");
  background-size: 100%;
  background-repeat: repeat-y;
}
