.introWrapper {
	position: relative;
	max-height: 1800px;
	min-height: 600px;
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;
	perspective: 1000px;
	padding-top: 30vh;
	z-index: 1;
	.animatedWrapper {
		box-shadow: var(--nav-bar-shadow);
		transform-style: preserve-3d;
		width: 80%;
		max-width: 500px;
		margin-bottom: 5vh;
		margin-top: 0vh;
	}
	.intro {
		width: 100%;
		background-color: var(--ele-3);
		color: var(--font-color-light);
		padding: min(3%, 80px) min(5%, 60px);
		font-size: var(--intro-font-size);
		.name {
			background: var(--line-gradient);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}
