.introWrapper {
  height: 80vh;
  max-height: 1800px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  perspective: 1000px;
  padding-top: 15%;
  width: 100%;
  // outline: 2px solid red;
  .intro {
    width: 80vw;
    max-width: 500px;
    background-color: var(--ele-3);
    color: var(--font-color-light);
    padding: min(3%, 80px) min(5%, 60px);
    font-size: 32px;
    .name {
      background: var(--line-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
