.ticker {
	position: relative;
	width: 100%;
}

.innerTicker {
	// background-color: red;
	position: absolute;
	color: var(--font-color-dim);
	display: flex;
	gap: 60px;
	font-size: var(--ticker-font-size);
	font-weight: bold;
	font-family: sans-serif;
	white-space: nowrap;
	p {
		text-shadow: var(--ticker-shadow);
	}
}
