.ticker {
	// padding-top: 10vh;
	position: relative;
	width: 100%;
	margin-top: auto;
	margin-bottom: 5vh;
	height: var(--ticker-font-size);
	z-index: 1;
}

.innerTicker {
	position: absolute;
	color: var(--font-color-dim);
	display: flex;
	gap: 60px;
	font-size: var(--ticker-font-size);
	font-weight: bold;
	font-family: sans-serif;
	white-space: nowrap;
	p {
		text-shadow: var(--ticker-shadow);
	}
}
