.aboutMeContainer {
	width: 90%;
	margin: auto;
	margin-top: 10vh;
	padding-bottom: 600px;
	display: flex;
	justify-content: center;
	gap: 64px;
	flex-wrap: wrap;
}

.summary {
	flex-basis: 40%;
	flex-shrink: 1;
	flex-grow: 1;
	min-width: min(463px, 70%);
	margin-bottom: 64px;
	h1 {
		font: var(--header);
		color: var(--font-color-light);
	}
	p {
		font: var(--p);
		margin-bottom: 80px;
		letter-spacing: 0.1em;
		color: var(--font-color-body);
	}
}

.skillFolders {
	position: relative;
	flex-shrink: 1;
	flex-grow: 1;
	padding: 8px;
	flex-basis: 40%;
	min-width: min(440px, 70%);
	z-index: 0;
	// transform: translateY(%);
	margin-top: min(120px, 15%);
	height: fit-content;

	.folder {
		position: absolute;
		width: 100%;
		// min-height: 594px;

		top: 0px;
		left: 0px;
		border-radius: 16px;
		box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
		transition: background-color 1.5s, box-shadow 1.5s;
		.tab {
			position: absolute;
			top: 1px;
			width: 30%;
			min-height: 3em;
			min-width: 14em;
			padding-bottom: 6%;
			display: flex;
			justify-content: center;
			pointer-events: all;
			touch-action: none;
			h3 {
				pointer-events: none;

				position: absolute;
				text-align: center;
				color: white;
				bottom: 50%;
				transform: translateY(50%);
				font: var(--folder-header);
			}
			svg {
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: -1;
				height: 100%;
				width: 100%;
				transition: fill 1.5s;
			}
		}
	}
}

.skillWrapper {
	display: flex;
	flex-wrap: wrap;
	// align-items: center;
	justify-content: center;
	padding: 10%;
	gap: 40px;
	min-height: max(400px, 100%);
	.skill {
		position: relative;
		width: min(17%, 70px);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1em;
		height: fit-content;
		.sizer {
			width: 100%;
			padding-bottom: 100%;
		}
		p {
			color: white;
			position: absolute;
			text-align: center;
			bottom: 0px;
			transform: translateY(100%);
		}
	}
}

.elevation0 {
	background-color: var(--ele-6);
	box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.4) !important;
	z-index: 5;
	.tab {
		svg {
			fill: var(--ele-6);
		}
	}
}

.elevation1 {
	background-color: var(--ele-4-5);
	box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.4) !important;
	scale: 0.97;
	z-index: 4;
	transform: translateY(-3%);
	svg {
		fill: var(--ele-4-5);
	}
}
.elevation2 {
	background-color: var(--ele-4);
	box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.1) !important;
	scale: 0.94;
	z-index: 3;
	transform: translateY(-6%);
	svg {
		fill: var(--ele-4);
	}
}
.elevation3 {
	background-color: var(--ele-3-5);
	box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.1) !important;
	scale: 0.912;
	z-index: 2;
	transform: translateY(-9%);
	svg {
		fill: var(--ele-3-5);
	}
}

.position0 {
	.tab {
		left: 0;
		transform: translate(0%, -100%);
	}
}
.position1 {
	.tab {
		left: 23%;
		transform: translate(0%, -100%);
	}
}
.position2 {
	.tab {
		right: 23%;
		transform: translate(0%, -100%);
	}
}
.position3 {
	.tab {
		right: 0;
		transform: translate(0%, -100%);
	}
}
