.project {
	color: var(--font-color-light);
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	width: 90%;
	gap: 32px;
}
.projectFlip {
	color: var(--font-color-light);
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	width: 90%;
	text-align: right;
	gap: 32px;
	.summary {
		h2 {
			margin-left: auto;
		}
		div {
			flex-direction: row-reverse;
		}
	}
}

.summary {
	margin: auto;
	flex-shrink: 1;
	flex-grow: 1;
	width: 45%;
	max-width: 1000px;
	h2 {
		font: var(--header);
		color: var(--font-color-light);
		line-height: 134.02%;
		max-width: 540px;
		margin-bottom: 36px;
	}
	p {
		font: var(--p);
		margin-bottom: 80px;
		letter-spacing: 0.1em;
		color: var(--font-color-body);
	}
	div {
		display: flex;
		gap: 10px;
	}
}

.imageContainer {
	gap: 8px;
	width: 45%;
	flex-shrink: 1;
	flex-grow: 1;
	min-width: min(100%, 500px);
	margin: 0px auto 16px;
}
.images {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: min(60vw, 410px);
	width: 100%;
	margin-bottom: 5%;
	div {
		position: absolute;
	}

	.desktopImage {
		top: 0;
		// max-width: 80%;
		img {
			max-width: 100%;
			height: auto;
			object-fit: scale-down;
		}
	}
	.tabletImage {
		left: 25%;
		top: 8%;
		max-width: 40%;
		img {
			max-width: 100%;
			height: auto;
			object-fit: scale-down;
		}
	}
	.cellphoneImage {
		top: 30%;
		right: 30%;
		max-width: 25%;
		img {
			max-width: 100%;
			height: auto;
			object-fit: scale-down;
		}
	}
}

.techStack {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px;
	b {
		display: block;
		background: var(--line-gradient);
		font: var(--bold);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center;
	}
}
