.project {
	color: var(--font-color-light);
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	margin-bottom: 10%;
	width: 90%;
}
.projectFlip {
	color: var(--font-color-light);
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	margin-bottom: 10%;
	width: 90%;
}

.summary {
	flex-grow: 1;
	max-width: 660px;
	margin: 0px auto;
	h2 {
		font-weight: 700;
		font-size: 42px;
		line-height: 134.02%;
		max-width: 540px;
		margin-bottom: 36px;
	}
	p {
		font-weight: 400;
		font-size: 32px;
		line-height: 39px;
		margin-bottom: 80px;
		letter-spacing: 0.1em;
		color: var(--font-color-body);
	}
	div {
		display: flex;
		gap: 10px;
	}
}

.imageContainer {
	width: 100%;
	max-width: 660px;
	margin: 0px auto 16px;
}
.images {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: min(60vw, 410px);
	width: 100%;
	margin-bottom: 5%;
	div {
		position: absolute;
	}

	.desktopImage {
		top: 0;
		// max-width: 80%;
		img {
			max-width: 100%;
			height: auto;
			object-fit: scale-down;
		}
	}
	.tabletImage {
		left: 25%;
		top: 8%;
		max-width: 40%;
		img {
			max-width: 100%;
			height: auto;
			object-fit: scale-down;
		}
	}
	.cellphoneImage {
		top: 30%;
		right: 30%;
		max-width: 25%;
		img {
			max-width: 100%;
			height: auto;
			object-fit: scale-down;
		}
	}
}

.techStack {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 16px;
	b {
		display: block;
		background: var(--line-gradient);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 600;
		font-size: 28px;
	}
}
