@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--border-gradient: linear-gradient(
		180deg,
		#bf953f -65%,
		#fcf6ba -26.33%,
		#b38728 20.08%,
		#fbf5b7 63.91%,
		#aa771c 100%
	);
	--line-gradient: linear-gradient(
		90deg,
		#bf953f -65%,
		#fcf6ba -26.33%,
		#b38728 20.08%,
		#fbf5b7 63.91%,
		#aa771c 100%
	);

	--goldish: #e0ba6c;

	--ele-1: #121212;
	--ele-2: #1e1e1e;
	--ele-3: #232323;
	--ele-3-5: #2a2a2a;
	--ele-4: #2c2c2c;
	--ele-4-5: #323232;
	--ele-5: #383838;
	--ele-5-80: #383838cc;
	--ele-6: #3a3a3a;

	--error: #f14141;
	--success: #4ccb51;

	--nav-btn-shadow: 0px 16px 32px rgba(0, 0, 0, 0.5);
	--nav-bar-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
	--ticker-shadow: 0px 8px 8px rgba(0, 0, 0, 0.8);

	--font-color-light: rgba(255, 255, 255, 1);
	--font-color-body: rgba(255, 255, 255, 0.8);
	--font-color-dim: rgba(255, 255, 255, 0.7);

	--intro-font-size: min(120%, 32px);
	--ticker-font-size: max(24px, min(5vw, 48px));
	--header-font-size: max(24px, min(5vw, 40px));
	--tech-font-size: max(14px, min(5vw, 32px));
	--paragraph-font-size: max(14px, min(3vw, 24px));
	--footer-font-size: max(14px, min(1.8vw, 24px));
	--paragraph-line-height: max(14px, min(4vw, 32px));
	--folder-font-size: max(18px, min(1.3vw, 24px));

	--header: 700 var(--header-font-size) / 134% "Poppins";
	--p: 400 var(--paragraph-font-size) / 134% "Poppins";
	--bold: 600 var(--tech-font-size) "Poppins";
	--folder-header: 700 var(--folder-font-size) "Poppins";
	--btn-font: 500 var(--paragraph-font-size) / 134% "Poppins";
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
	background-color: #010101;
}

a {
	color: inherit;
	text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.admin-btn {
	position: fixed;
	top: 32px;
	left: 32px;
	z-index: 20;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.admin-wrapper {
	display: flex;
}
.admin-wrapper main {
	flex-grow: 1;
}
